<div class="container">
  <h1 class="row justify-content-center">Us : </h1>

	<div class="row justify-content-md-center">
    <div class="card-deck">
		<div class="col-sm-6">
    	<div class="card shadow">
        <div class="card-header text-white bg-dark mb-3">
          <a class="card-link" href="https://github.com/JostQ">Quentin (@Dremsis)</a>
        </div>
        <div class="card-body">
        	<img src="https://avatars1.githubusercontent.com/u/16607104?s=460&v=4" alt="Quentin" class="img-thumbnail">
        </div>
      </div>
		</div>
		<div class="col-sm-6">
      <div class="card shadow">
        <div class="card-header text-white bg-dark mb-3">
          <a class="card-link" href="https://github.com/athanyl">Yannis (@yannis)</a>
        </div>
        <div class="card-body">
        	<img src="https://avatars3.githubusercontent.com/u/43390642?s=460&v=4" alt="Yannis" class="img-thumbnail">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>